<table class="table">
    <% apps.forEach(function(app) { %>
        <tr>
            <td>
                <label class="label" style="display:inline-block">ts:</label>
                <p><%= new Date(app.ts).toString() %></p>
                <label class="label" style="display:inline-block">type:</label>
                <p><%= app.type %></p>
                <label class="label" style="display:inline-block">size:</label>
                <p><%= app.size %></p>
                <label class="label" style="display:inline-block">src:</label>
                <p><%= app.src %></p>
                <label class="label" style="display:inline-block">link:</label>
                <p><%= app.link %></p>
                <label class="label" style="display:inline-block">title:</label>
                <p><%= app.title %></p>
                <label class="label" style="display:inline-block">thumb:</label>
                <p><%= app.thumb %></p>
                <label class="label" style="display:inline-block">content:</label>
                <p><%= app.content %></p>
                <label class="label" style="display:inline-block">subtitle:</label>
                <p><%= app.subtitle %></p>
                <label class="label" style="display:inline-block">direction:</label>
                <p><%= app.direction %></p>
            </td>
            <td class="span4">
                <form method='GET' action='/edit' class="span2">
                    <input type='submit' class="btn" value='Edit' />
                    <input type='hidden' name='id' value='<%=app._id %>'>
                </form>
                <form method='GET' action='/del' class="span2" onsubmit="return confirm('Are u sure?!!')">
                    <input type='submit' class="btn btn-danger" value='Delete' />
                    <input type='hidden' name='id' value='<%=app._id %>'>
                </form>
            </td>
        </tr>
    <% }); %>
</table>

